<html lang="ru">
<head>
    <%- include('head'); %>
    <title>DreamLand MUD - Мир Грёз, Феневое API</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
</head>

<body>
    <%- include('header'); %>
    <%- include('hero', {breadcrumb: 'Fenia API', title: 'Феневое API'}) %>

        <a name="top"></a>
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div id="main" class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li title="Наверх страницы" class="active"><a data-toggle="tab" href="#char">Персонаж</a></li>
                            <li><a data-toggle="tab" href="#obj">Предмет</a></li>
                            <li><a data-toggle="tab" href="#room">Комната</a></li>
                            <li><a data-toggle="tab" href="#indexdata">Прототипы</a></li>
                            <li><a data-toggle="tab" href="#root">Корневой</a></li>
                            <li><a data-toggle="tab" href="#struct">Структуры</a></li>
                            <li><a data-toggle="tab" href="#string">Строка</a></li>
                            <li><a data-toggle="tab" href="#tables">Таблицы</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="char" class="tab-pane fade in active">
                                <h2>Персонаж: моб или игрок</h2>
                                <div class="list-group">
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Содержание</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><a href="#char_fields">Поля персонажа</a></li>
                                        <li><a href="#char_methods">Методы персонажа</a></li>
                                        </ul>
                                </p>
                                </div>
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Доступ к API изнутри мира</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><strong>eval ptc(api())</strong></li>
                                        <li><strong>eval ptc(get_char_world("xxx").api())</strong></li>
                                        </ul>
                                    </p>
                                    </div>
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">См. также</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><a href="https://github.com/dreamland-mud/dreamland_code/wiki/Fenia-char-triggers">Список всех триггеров для персонажей</a></li>
                                        </ul>
                                    </p>
                                    </div>
                                </div>
                                <a name="char_fields"></a>
                                <h3>Поля, доступные только для чтения [ro] и для записи [rw]</h3>
                                <div class="section">
                                    <div class="container">
                                        <table id="char_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th class="th-status">Статус</th>    
                                                <th>Поле</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-fields', {apiList: api['char_fields']}) %></tbody>
                                        </table>
                                        <a href="#char_fields"><i title="Наверх таблицы" class="fa fa-2x fa-angle-double-up"></i></a> <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- char container -->
                                </div><!-- char section -->

                                <a name="char_methods"></a>
                                <h3>Методы</h3>
                                <div class="section">
                                    <div class="container">
                                        <table id="char_methods" class="table table-striped table-bordered" width="100%" data-page-length="-1">
                                            <thead><tr>
                                                <th>Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['char_methods']}) %></tbody>
                                        </table>
                                        <a href="#char_methods"><i title="Наверх таблицы" class="fa fa-2x fa-angle-double-up"></i></a> <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- char container -->
                                </div><!-- char section -->
                            </div> <!-- char tab-pane -->

                            <div id="obj" class="tab-pane fade in">
                                <h2>Предмет, объект</h2>
                                <div class="list-group">
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Содержание</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><a href="#obj_fields">Поля предмета</a></li>
                                        <li><a href="#obj_methods">Методы предмета</a></li>
                                        </ul>
                                    </p>
                                    </div>
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Доступ к API изнутри мира</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><strong>eval ptc(get_obj_world("barrel").api())</strong></li>
                                        </ul>
                                    </p>
                                    </div>
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">См. также</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><a href="https://github.com/dreamland-mud/dreamland_code/wiki/Fenia-obj-triggers">Список всех триггеров для предметов</a></li>
                                        </ul>
                                    </p>
                                    </div>
                                </div>
                                <a name="obj_fields"></a>
                                <h3>Поля, доступные только для чтения [ro] и для записи [rw]</h3>
                                <div class="section">
                                    <div class="container">
                                        <table id="obj_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th class="th-status">Статус</th>    
                                                <th>Поле</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-fields', {apiList: api['obj_fields']}) %></tbody>
                                        </table>
                                        <a href="#obj_fields"><i title="Наверх таблицы" class="fa fa-2x fa-angle-double-up"></i></a> <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- obj container -->
                                </div><!-- obj section -->

                                <a name="obj_methods"></a>
                                <h3>Методы</h3>
                                <div class="section">
                                    <div class="container">
                                        <table id="obj_methods" class="table table-striped table-bordered" width="100%" data-page-length="-1">
                                            <thead><tr>
                                                <th>Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['obj_methods']}) %></tbody>
                                        </table>
                                        <a href="#obj_methods"><i title="Наверх таблицы" class="fa fa-2x fa-angle-double-up"></i></a> <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- obj container -->
                                </div><!-- obj section -->
                            </div> <!-- obj tab-pane -->

                            <div id="room" class="tab-pane fade in">
                                <h2>Комната</h2>
                                <div class="list-group">
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Содержание</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><a href="#room_fields">Поля комнаты</a></li>
                                        <li><a href="#room_methods">Методы комнаты</a></li>
                                        </ul>
                                    </p>
                                    </div>
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Доступ к API изнутри мира</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><strong>eval ptc(in_room.api())</strong></li>
                                        </ul>
                                    </p>
                                    </div>
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">См. также</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><a href="https://github.com/dreamland-mud/dreamland_code/wiki/Fenia-room-triggers">Список всех триггеров для комнаты</a></li>
                                        </ul>
                                    </p>
                                    </div>
                                </div>
                                <a name="room_fields"></a>
                                <h3>Поля, доступные только для чтения [ro] и для записи [rw]</h3>
                                <div class="section">
                                    <div class="container">
                                        <table id="room_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th class="th-status">Статус</th>    
                                                <th>Поле</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-fields', {apiList: api['room_fields']}) %></tbody>
                                        </table>
                                        <a href="#room_fields"><i title="Наверх таблицы" class="fa fa-2x fa-angle-double-up"></i></a> <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- room container -->
                                </div><!-- room section -->

                                <a name="room_methods"></a>
                                <h3>Методы</h3>
                                <div class="section">
                                    <div class="container">
                                        <table id="room_methods" class="table table-striped table-bordered" width="100%" data-page-length="-1">
                                            <thead><tr>
                                                <th>Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['room_methods']}) %></tbody>
                                        </table>
                                        <a href="#room_methods"><i title="Наверх таблицы" class="fa fa-2x fa-angle-double-up"></i></a> <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- room container -->
                                </div><!-- room section -->
                            </div> <!-- room tab-pane -->

                            <div id="indexdata" class="tab-pane fade in">
                                <h2>Прототипы предметов и мобов</h2>
                                <div class="list-group">
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Содержание</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><a href="#obj_index_fields">Прототип предмета</a></li>
                                        <li><a href="#mob_index_fields">Прототип моба</a></li>
                                        </ul>
                                    </p>
                                    </div>
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Доступ к API изнутри мира</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><strong>eval ptc(get_char_world("mermaid").pIndexData.api())</strong></li>
                                        <li><strong>eval ptc(get_obj_world("barrel").pIndexData.api())</strong></li>
                                        </ul>
                                    </p>
                                    </div>
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">См. также</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><a href="https://github.com/dreamland-mud/dreamland_code/wiki/Fenia-char-triggers">Список всех триггеров для персонажа</a></li>
                                        <li><a href="https://github.com/dreamland-mud/dreamland_code/wiki/Fenia-obj-triggers">Список всех триггеров для предмета</a></li>
                                        </ul>
                                    </p>
                                    </div>
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Примечание</h4>
                                    <p class="list-group-item-text">Все поля прототипов доступны только для чтения. </p>
                                    </div>
                                </div>
                                <a name="obj_index_fields"></a>
                                <h3>Поля и методы прототипа предмета (obj index data)</h3>
                                <div class="section">
                                    <div class="container">
                                        <table id="obj_index_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['obj_index_methods']}) %></tbody>
                                        </table>
                                        <a href="#obj_index_fields"><i title="Наверх таблицы" class="fa fa-2x fa-angle-double-up"></i></a> <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- obj_index container -->
                                </div><!-- obj_index section -->

                                <a name="mob_index_fields"></a>
                                <h3>Поля и методы прототипа моба (mob index data)</h3>
                                <div class="section">
                                    <div class="container">
                                        <table id="mob_index_fields" class="table table-striped table-bordered" width="100%" data-page-length="-1">
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['mob_index_methods']}) %></tbody>
                                        </table>
                                        <a href="#mob_index_fields"><i title="Наверх таблицы" class="fa fa-2x fa-angle-double-up"></i></a> <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- mob_index container -->
                                </div><!-- mob_index section -->
                            </div> <!-- indexdata tab-pane -->
                            <div id="root" class="tab-pane fade in">
                                <h2>Корневой объект (root)</h2>
                                <div class="list-group">
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Содержание</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><a href="#root_fields">Поля корневого объекта</a></li>
                                        <li><a href="#root_methods">Методы корневого объекта</a></li>
                                        </ul>
                                    </p>
                                    </div>
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Доступ к API изнутри мира</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><strong>eval ptc(.api())</strong></li>
                                        </ul>
                                    </p>
                                    </div>
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Примечание</h4>
                                    <p class="list-group-item-text">Поля и методы корневого объекта начинаются с точки.</p>
                                    </div>
                                </div>
                                <a name="root_fields"></a>
                                <h3>Поля, доступные только для чтения [ro] и для записи [rw]</h3>
                                <div class="section">
                                    <div class="container">
                                        <table id="root_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th class="th-status">Статус</th>    
                                                <th>Поле</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-fields', {apiList: api['root_fields']}) %></tbody>
                                        </table>
                                        <a href="#root_fields"><i title="Наверх таблицы" class="fa fa-2x fa-angle-double-up"></i></a> <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- root container -->
                                </div><!-- root section -->

                                <a name="root_methods"></a>
                                <h3>Методы</h3>
                                <div class="section">
                                    <div class="container">
                                        <table id="root_methods" class="table table-striped table-bordered" width="100%" data-page-length="-1">
                                            <thead><tr>
                                                <th>Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['root_methods']}) %></tbody>
                                        </table>
                                        <a href="#root_methods"><i title="Наверх таблицы" class="fa fa-2x fa-angle-double-up"></i></a> <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- root container -->
                                </div><!-- root section -->
                            </div> <!-- root tab-pane -->

                            <div id="struct" class="tab-pane fade in">
                                <h2>Различные структуры</h2>
                                <div class="list-group">
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Содержание</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                         <li><a href="#affect_fields">Affect</a></li>
                                         <li><a href="#command_fields">Command</a></li>
                                         <li><a href="#area_fields">Area</a></li>
                                         <li><a href="#hometown_fields">Hometown</a></li>
                                         <li><a href="#bonus_fields">Bonus</a></li>
                                         <li><a href="#religion_fields">Religion</a></li>
                                         <li><a href="#profession_fields">Profession</a></li>
                                         <li><a href="#race_fields">Race</a></li>
                                         <li><a href="#clan_fields">Clan</a></li>
                                         <li><a href="#craftprofession_fields">CraftProfession</a></li>
                                         <li><a href="#liquid_fields">Liquid</a></li>
                                         <li><a href="#skill_fields">Skill</a></li>
                                         <li><a href="#feniaskill_fields">FeniaSkill</a></li>
                                        </ul>
                                    </p>
                                    </div>
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Доступ к API изнутри мира</h4>
                                    <p class="list-group-item-text">Можно посмотреть API для каждой структуры, создав ее и вызвав метод api(), например:
                                        <ul>
                                        <li><strong>eval ptc(.Affect("none").api())</strong></li>
                                        <li><strong>eval ptc(.Profession("cleric").api())</strong></li>
                                        <li><strong>eval ptc(.Liquid("wine").api())</strong></li>
                                        </ul>
                                    </p>
                                    </div>
                                </div>
                                <a name="affect_fields"></a>
                                <h3>Affect: аффект, поля и методы</h3>
                                <p>Все поля доступны для чтения и записи.</p>
                                <div class="section">
                                    <div class="container">
                                        <table id="affect_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['affect_methods']}) %></tbody>
                                        </table>
                                        <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- affect container -->
                                </div><!-- affect section -->

                                <a name="command_fields"></a>
                                <h3>Command: команда, поля и методы</h3>
                                <p>Все поля доступны для чтения и записи.</p>
                                <div class="section">
                                    <div class="container">
                                        <table id="command_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['command_methods']}) %></tbody>
                                        </table>
                                        <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- command container -->
                                </div><!-- command section -->

                                <a name="area_fields"></a>
                                <h3>Area: зона</h3>
                                <p>Все поля доступны только для чтения.</p>
                                <div class="section">
                                    <div class="container">
                                        <table id="area_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['area_methods']}) %></tbody>
                                        </table>
                                        <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- area container -->
                                </div><!-- area section -->

                                <a name="hometown_fields"></a>
                                <h3>Hometown: родной город</h3>
                                <p>Все поля доступны только для чтения.</p>
                                <div class="section">
                                    <div class="container">
                                        <table id="hometown_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['hometown_methods']}) %></tbody>
                                        </table>
                                        <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- hometown container -->
                                </div><!-- hometown section -->

                                <a name="bonus_fields"></a>
                                <h3>Bonus: календарный или религиозные бонус</h3>
                                <p>Все поля доступны только для чтения.</p>
                                <div class="section">
                                    <div class="container">
                                        <table id="bonus_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['bonus_methods']}) %></tbody>
                                        </table>
                                        <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- bonus container -->
                                </div><!-- bonus section -->

                                <a name="religion_fields"></a>
                                <h3>Religion: религия</h3>
                                <p>Все поля доступны только для чтения.</p>
                                <div class="section">
                                    <div class="container">
                                        <table id="religion_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['religion_methods']}) %></tbody>
                                        </table>
                                        <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- religion container -->
                                </div><!-- religion section -->

                                <a name="profession_fields"></a>
                                <h3>Profession: класс персонажа</h3>
                                <p>Все поля доступны только для чтения.</p>
                                <div class="section">
                                    <div class="container">
                                        <table id="profession_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['profession_methods']}) %></tbody>
                                        </table>
                                        <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- profession container -->
                                </div><!-- profession section -->

                                <a name="race_fields"></a>
                                <h3>Race: раса персонажа</h3>
                                <p>Все поля доступны только для чтения.</p>
                                <div class="section">
                                    <div class="container">
                                        <table id="race_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['race_methods']}) %></tbody>
                                        </table>
                                        <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- race container -->
                                </div><!-- race section -->

                                <a name="clan_fields"></a>
                                <h3>Clan: клан</h3>
                                <p>Все поля доступны только для чтения.</p>
                                <div class="section">
                                    <div class="container">
                                        <table id="clan_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['clan_methods']}) %></tbody>
                                        </table>
                                        <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- clan container -->
                                </div><!-- clan section -->

                                <a name="craftprofession_fields"></a>
                                <h3>CraftProfession: дополнительная профессия</h3>
                                <p>Все поля доступны только для чтения.</p>
                                <div class="section">
                                    <div class="container">
                                        <table id="craftprofession_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['craftprofession_methods']}) %></tbody>
                                        </table>
                                        <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- craftprofession container -->
                                </div><!-- craftprofession section -->

                                <a name="liquid_fields"></a>
                                <h3>Liquid: жидкость</h3>
                                <p>Все поля доступны только для чтения.</p>
                                <div class="section">
                                    <div class="container">
                                        <table id="liquid_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['liquid_methods']}) %></tbody>
                                        </table>
                                        <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- liquid container -->
                                </div><!-- liquid section -->

                                <a name="skill_fields"></a>
                                <h3>Skill: умение или заклинание</h3>
                                <p>Все поля доступны только для чтения.</p>
                                <div class="section">
                                    <div class="container">
                                        <table id="skill_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['skill_methods']}) %></tbody>
                                        </table>
                                        <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- skill container -->
                                </div><!-- skill section -->

                                <a name="feniaskill_fields"></a>
                                <h3>FeniaSkill: новое умение или заклинание, созданное в фене</h3>
                                <p>Поля доступны и для записи, и для чтения.</p>
                                <div class="section">
                                    <div class="container">
                                        <table id="skill_fields" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Поле/Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['feniaskill_methods']}) %></tbody>
                                        </table>
                                        <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- feniaskill container -->
                                </div><!-- feniaskill section -->

                            </div> <!-- struct tab-pane -->
                            <div id="string" class="tab-pane fade in">
                                <h2>Строка</h2>
                                <div class="list-group">
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Содержание</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                         <li><a href="#string_fields">Методы строки</a></li>
                                        </ul>
                                    </p>
                                    </div>
                                    <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Доступ к API изнутри мира</h4>
                                    <p class="list-group-item-text">
                                        <ul>
                                        <li><strong>eval ptc("".api())</strong></li>
                                        </ul>
                                    </p>
                                    </div>
                                </div>
                                <h3>Методы</h3>
                                <div class="section">
                                    <div class="container">
                                        <table id="string_methods" class="table table-striped table-bordered"  width="100%" data-page-length="-1" >
                                            <thead><tr>
                                                <th>Метод</th>    
                                                <th>Описание</th>    
                                            </tr></thead>
                                            <tbody><%- include('fenia-methods', {apiList: api['string_methods']}) %></tbody>
                                        </table>
                                        <a href="#top"><i title="Наверх страницы" class="fa fa-2x fa-arrow-circle-up"></i></a>
                                    </div><!-- string container -->
                                </div><!-- string section -->
                            </div> <!-- string tab-pane -->

                            <div id="tables" class="tab-pane fade in">
                                <h2>Таблицы</h2>
                                
                                <p>Доступ ко всем таблицам флагов или значений осущестляется через поле корневого объекта <b>.tables</b>. Список 
таблиц также можно увидеть по команде <b>olchelp</b>.</p>
                                <h3>Методы всех таблиц (.tables)</h3>
                                <ul>
                                <li><b>.tables.api()</b>: вывести список всех полей .tables, то есть всех доступных таблиц</li>
                                </ul>
                                <h3>Методы отдельной таблицы (например, .tables.affect_flags)</h3>
                                <p>Каждая из таблиц имеет такие методы:</p>
                                <ul>
                                   <li><b>.tables.affect_flag.api()</b>: вывести список всех полей таблицы и их русский перевод.</li>
                                   <li><b>.tables.affect_flag.names(число)</b>: вернет строку из названий флагов, которым соответствует это число.</li>
                                   <li><b>.tables.affect_flag.values(строка)</b>: вернет числовое значение флага (флагов) по их английскому названию в строке .</li>
                                   <li><b>.tables.affect_flag.флаг</b>: численное значени того или иного флага, например, .tables.affect_flag.curse.</li>
                                </ul>
                            </div> <!-- string tab-pane -->

                        </div> <!-- tab-content-->
                    </div><!-- main-->
                </div>
			    </div><!-- searcher container -->
        </div><!-- section -->

    </content>

    <%- include('footer'); %>
    <%- include('foot'); %>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="js/feniaapi.js?1"></script>

</body>
</html>
