<html lang="ru">
<head>
    <%- include('head'); %>
    <title>DreamLand MUD - Мир Грёз, Галерея</title>
    <style>
      ul {         
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
      ul li {     
          list-style:none;
          margin-bottom:25px;           
      }
      ul li img {
          cursor: pointer;
      }
    </style>
</head>

<body>
    <%- include('header'); %>
    <%- include('hero', {breadcrumb: 'Gallery', title: 'Галерея'}) %>

    <div class="section">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <h2>Видео-стримы Мира Грёз</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h4>Hart vs Zorg: тренировочный бой</h4>
                    <a href="https://www.youtube.com/watch?v=-kiWTQn4yVk">
                        <img src="https://i1.ytimg.com/vi/-kiWTQn4yVk/mqdefault.jpg" class="img-responsive">
                    </a>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Харт, выполняем глобальный квест</h4>
                    <a href="https://youtu.be/tnecwmBDOOY">
                        <img src="https://i1.ytimg.com/vi/tnecwmBDOOY/mqdefault.jpg" class="img-responsive">
                    </a>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Керрад, добываем лимитный пояс</h4>
                    <a href="https://youtu.be/YPvmvBJcMNU">
                        <img src="https://i1.ytimg.com/vi/YPvmvBJcMNU/mqdefault.jpg" class="img-responsive">
                    </a>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Линг, выполняем квест с телефона</h4>
                    <video controls width="250" height="300"> <source src="https://dreamland.rocks/video/ling-quest.mp4" type="video/mp4"> </video>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Линг, сражение с Лагом с телефона</h4>
                    <video controls width="250" height="300"> <source src="https://dreamland.rocks/video/ling-lag.mp4" type="video/mp4"> </video>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Баар, "потерпевший в дварфийском лесу"</h4>
                    <video controls width="250" height="300"> <source src="https://dreamland.rocks/video/baar-powerman.mp4" type="video/mp4"> </video>
                </div>
            </div>
            <br/>
        </div>
    </div>

    <div class="section">
        <div class="container">

            <div class="row justify-content-center" style="padding:0 0 20px 0; margin-bottom:40px;">
                <div class="col-lg-12">
                    <h2>Персонажи Мира Грёз, нарисованные Нимоа</h2>
                    <p>Идеи для новых рисунков записывайте, пожалуйста, в <a href="https://docs.google.com/document/d/1Ms65QaylGimSGqBuSzPDKlzDSPPTtL-668rqhgGlHiA/edit">этот документ</a>. Можно заказать свой портрет!</p>
                </div>
            </div>

            <ul class="row justify-content-center">
                <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <a href="img/gallery/tahi_drow.jpg" data-toggle="lightbox" data-gallery="nimoa" data-title="Tahi Drow">
                        <img src="img/gallery/tahi_drow.jpg" class="img-responsive" title="Tahi Drow">
                    </a>
                </li>
                <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <a href="img/gallery/ruffina_satyr.jpg" data-toggle="lightbox" data-gallery="nimoa" data-title="Ruffina Satyr">
                        <img src="img/gallery/ruffina_satyr.jpg" class="img-responsive" title="Ruffina Satyr">
                    </a>
                </li>
                <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <a href="img/gallery/nimu_centaur.jpg" data-toggle="lightbox" data-gallery="nimoa" data-title="Nimu Centaur">
                        <img src="img/gallery/nimu_centaur.jpg" class="img-responsive" title="Nimu Centaur">
                    </a>
                </li>
                <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <a href="img/gallery/lings_rat.jpg" data-toggle="lightbox" data-gallery="nimoa" data-title="Ling&apos;s rat">
                        <img src="img/gallery/lings_rat.jpg" class="img-responsive" title="Ling&apos;s rat">
                    </a>
                </li>
                <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <a href="img/gallery/cradya.jpg" data-toggle="lightbox" data-gallery="nimoa" data-title="Cradya">
                        <img src="img/gallery/cradya.jpg" class="img-responsive" title="Cradya">
                    </a>
                </li>
                <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <a href="img/gallery/craruf.jpg" data-toggle="lightbox" data-gallery="nimoa" data-title="Cradya&amp;Ruffina">
                        <img src="img/gallery/craruf.jpg" class="img-responsive" title="Cradya&amp;Ruffina">
                    </a>
                </li>
                <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <a href="img/gallery/filths.jpg" data-toggle="lightbox" data-gallery="nimoa" data-title="Filths">
                        <img src="img/gallery/filths.jpg" class="img-responsive" title="Filths">
                    </a>
                </li>
                <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <a href="img/gallery/xantippa.jpg" data-toggle="lightbox" data-gallery="nimoa" data-title="Xantippa">
                        <img src="img/gallery/xantippa.jpg" class="img-responsive" title="Xantippa">
                    </a>
                </li>
                <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <a href="img/gallery/zorg.jpg" data-toggle="lightbox" data-gallery="nimoa" data-title="Zorg">
                        <img src="img/gallery/zorg.jpg" class="img-responsive" title="Zorg">
                    </a>
                </li>
                <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <a href="img/gallery/irlana.jpg" data-toggle="lightbox" data-gallery="nimoa" data-title="Irlana">
                        <img src="img/gallery/irlana.jpg" class="img-responsive" title="Irlana">
                    </a>
                </li>
              </ul>             
        </div>
    </div>


    <%- include('footer'); %>
    <%- include('foot'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous" />
    <script src="js/gallery.js"></script>
</body>
</html>
