<html lang="ru">
<head>
    <%- include('head'); %>
    <title>DreamLand MUD - Мир Грёз, Карты и пути</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
</head>

<body>
    <%- include('header'); %>
    <%- include('hero', {breadcrumb: 'Maps', title: 'Карты и пути'}) %>

    <!-- Blog -->
    <div id="blog" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div id="main" class="col-md-12">
                    <h2>Карта Тэры</h2>

                    <a href="img/Thera_0130_7k_compressed.jpg"><img class="map-terra" src="img/Thera_0130_2k.jpg"></a>
                    <p>Нажми на карту, чтобы открыть версию в высоком разрешении (8Мб).</p>

                    <div class="section-header">
                        <h2>Зоны</h2>
                        <p class="lead">В этом разделе собрана информация о путях к большинству зон (арий) Мира Грез. По умолчанию путь указан от Рыночной Площади Мидгаарда. Подробнее смотреть help run, help movement и все связанные разделы. Также читайте help areas, чтобы узнать, как отобразить все зоны на свой уровень или найти зону по имени.</p>
                    </div>
                    <div class="feature">
                        <table class="table" id="areatable">
                        <thead>
                            <tr>
                                <th>Имя зоны</th>
                                <th>Исходное имя</th>
                                <th>Карта</th>
                                <th>Мин</th>
                                <th>Макс</th>
                                <th>Путь</th>
                            </tr>
                        </thead>
                        <% for (var i = 0; i < areaList.length; i++) { %>
                        <%    let area = areaList[i];    %>
                            <tr>
                                <td><%= area.name %></td>
                                <td><%= area.credits %></td>
                                <td><a href="maps/<%= area.map %>">карта</a></td>
                                <td><%= area.levMin %></td>
                                <td><%= area.levMax %></td>
                                <td><%= area.sw %></td>
                            </tr>
                        <% } %>    
                        </table>
                    </div>
                </div>

                <!-- main -->
                <div id="main" class="col-md-12">
                    <br/>
                    <div class="section-header">
                        <h2>Дополнительные карты</h2>
                        <p class="lead"></p>
                    </div>
                    <div class="feature">
                        <ul>
                            <li><a href="maps/dreamland_northern.html">Северная часть Страны Грёз</a></li>
                            <li><a href="maps/dreamland_eastern.html">Восточная часть Страны Грёз</a></li>
                            <li><a href="maps/dreamland_western.html">Западная часть Страны Грёз</a></li>
                        </ul>
                        <hr/> 
                    </div>
                </div>
                <!-- main -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /Blog -->

<%- include('footer'); %>
<%- include('foot'); %>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="js/maps.js"></script>
</body>
</html>
