<html lang="ru">
<head>
    <%- include('head'); %>
    <title>DreamLand MUD - Мир Грёз, Новости и Изменения</title>
    <link type="text/css" rel="stylesheet" href="css/news.css?1"/>
</head>

<body>
    <%- include('header'); %>
    <%- include('hero', {breadcrumb: 'News', title: 'Новости и изменения'}) %>

    <div id="links" class="section">
        <div class="container">
            <div class="row">
                <div id="main" class="col-md-12">
                    <div class="section-header">
                        <h2>Новости и изменения Мира Грёз</h2>
                        <p class="lead">В этом разделе представлены все изменения (change) и новости (news), опубликованные в мире с 2001 года и предназначенные для всех. Новости, адресованные конкретной расе или клану, необходимо читать изнутри мира. См. также help note, help note list. </p>
                        <p class="lead">Новости можно обсудить на нашем <a href="https://t.me/dreamland_rocks">телеграм-канале</a> или в <a href="https://discord.gg/RPaz6ut">чате Discord</a>.</p>
                    </div>

                    <% for (var i = 0; i < notes.length; i++) {%>
                    <%     let news = notes[i];  %>
                            <pre class="for-panel">
                                <div class="panel panel-default"><div class="panel-heading"><span class="news-date">[<%= news.date %>]&#160;<%= news.from %>:</span>&#160;<span class="news-subject"><%= news.subject %></span></div><div class="panel-body"><%- news.text %></div></div>
                            </pre>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

<%- include('footer'); %>
<%- include('foot'); %>
</body>
</html>
