<html lang="ru">
<head>
    <%- include('head'); %>
    <title>DreamLand MUD - Мир Грёз, Ценности</title>

<style>

ul { 
    list-style: disc; 
    padding: 10px; 
}

.normal-text { 
    font-size: 1.5em; 
    color: black; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif" 
}

.normal-text p {
    padding-top: 1em;
}

</style>

</head>

<body>
    <%- include('header'); %>
    <%- include('hero', {breadcrumb: 'Values', title: 'Наши Ценности'}) %>

    <div class="section normal-text">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
<p></p>
<p>
После усиления войны в 2022 году некоторые русские игроки и админы других текстовых игр очень обиделись и встретили острым неприятием наше выражение солидарности с Украиной и любви к нашей стране и родине этого проекта. Они приводили знакомые аргументы про “братские народы” и “игры вне политики”. Слова в кавычках ниже — цитаты этих людей. Мы решили воспользоваться случаем и как следует изложить наши моральные ценности — то, чем мы руководствуемся в работе над проектом и общении с игроками. 
</p><p>
Когда одна страна напала на другую страну, становится очень важным не покупать продукты и не использовать сервисы страны-агрессора — если, конечно, вы с ней не согласны. Это называется моральные принципы — такая взрослая штука, которая наверно не очень известна подросткам с жабкой пепе. И разные игры, разумеется, тоже не “равны” и не находятся “вне политики”. Очень многие игры предлагают игрокам разделить определенные моральные ценности, которые в них вкладывают разработчики. Это и есть политика. Всегда была. 

</p><p>
Вдобавок, у нашего мира с войной особые счеты. Когда-то очень давно, больше 20 лет назад, в баре города Чернигове в Украине сидела компания друзей и пила пиво. Эти люди были основателями Мира Мечты и его первыми лидерами: Лео, Разер, Штурм, Шерхан, Бурзум, Сатан, Сусанин, Алланон, Крадя, Ромашка…

</p><p>
Мы познакомились в баре и решили провести в городе несколько дней. Это был прекрасные дни. Мы провели их, гуляя по городу Чернигову, по его зеленым паркам, заходя в гости ко всем ребятам, знакомясь с их родителями. Мы болтали о будущем игры, о том, что можно улучшить. Мы придумывали истории и делились РП-идеями. Это были прекрасные времена.

</p><p>
Сейчас этого бара нет — его разбомбила армия росии. Этих парков нет — они сгорели. Домов, куда мы заходили в гости, нет — они разрушены рускими ракетами. И некоторых людей, которых мы знали лично, больше нет в живых. Лор и история этого мира теперь навсегда привязана к войне. И прямо сейчас кто-то из наших игроков служит в армии Украины, кто-то не может часто играть из-за бомбежек, у кого-то погибли друзья и близкие. Притворяться, что войны не существует было бы колоссальным неуважением к их потерям и нашей общей трагедии. Этим наш мир и отличается от некоторых других. Мы стараемся следовать в нашем мире принципам уважения.

</p>
<ul>
<li><p>Мы не вводим абсурдной цензуры по “ролевым” или “тематическим” принципам. У нас можно говорить о чем угодно — пока сохраняется уважение к другим игрокам, администраторам и проекту в целом. Для желающих есть более четко прописанные правила мира, которые мы стараемся выдерживать и на коммуникационных площадках.</p></li>
<li><p>Мы не городим “элитный” мир, доступный только ветеранам. Мы делаем игру супер-доступной через веб-клиент, мы все меняем и упрощаем, чтобы было понятно новичкам, и строим культуру помощи новичкам в чате — из уважения к ним и их времени. </p></li>

<li><p>Мы не закрываемся от игроков и не игнорируем их рапорты об ошибках и пожелания по улучшению. Мы очень быстро и доступно обсуждаем развитие проекта со всеми игроками, внедряем предложения и фиксим баги в открытом коде, иногда в считанные минуты после рапорта — из уважения к их игровому опыту и их интересу к проекту.</p></li>

<li><p>Мы не забываем про игроков с недостатками зрения и не игнорируем их нужды. Мы специально создаем для них максимально удобные условия и добавляем поддержку скринридеров везде, где только возможно — из уважения к их пользовательскому опыту.</p></li>

<li><p>Мы никогда не пропагандируем шовинизм и сортирные шутки. Мы кропотливо кодим гендерные окончания так, чтобы женские персонажи видели в игре “я пришла” вместо “я пришел” — из уважения к их выбору. </p></li>

<li><p>Мы стараемся дать всем нашим игрокам свободу игры и самовыражения до тех пор, пока она не оскорбляет или не ущемляет свободу других игроков. Мы всегда обсуждаем спорные ситуации, терпеливо и дружелюбно разрешаем конфликты и даем всем много шансов. Впрочем, не бесконечно — из уважения к нам самим и нашему времени.</p></li>


</p><p>
Вот наш “идеологически пропагандистский курс”. Если тебе он по душе — добро пожаловать, мы будем счастливы вместе строить прекрасный Мир Мечты, в котором мы уважаем друг друга и помогаем друг другу получить максимальный кайф от игры.
</p>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer'); %>
    <%- include('foot'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous" />
    <script src="js/gallery.js"></script>
</body>
</html>
