<html xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <%- include('head'); %>
    <title>Справка DreamLand: <%= title %></title>
</head>
<body>
    <div class="wrapper">
        <%- include('help-menu'); %>
        <div class="main">
            
            <% for (var i = 0; i < topics.length; i++) { %>
                <div class="help_panel rounded"><a class="help_title" name="h<%= topics[i].id %>"></a><%if (topics[i].title) {%><span class="help_title"><%= topics[i].title %></span><% } %><div class="help_article"><%- topics[i].text %></div></div>
            <% } %>
        
        </div>
        <div class="aside aside-2">
            <div class="help_menu">
                <h2><%= title %></h2>
                <ul>
                    <% for (var i = 0; i < topics.length; i++) { %>
                        <li><a href="#h<%= topics[i].id %>"> <%= topics[i].toc%> </a></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <%- include('footer'); %>
    </div>
    <%- include('foot'); %>
</body>
</html>
