<html xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <%- include('head'); %>
    <title>Справка DreamLand: <%= title %></title>
</head>
<body>
    <div class="wrapper">
        <%- include('help-menu'); %>
        <div class="main"><%- main %></div>
        <div class="aside aside-2"><%- aside2 %></div>
        <%- include('footer'); %>
    </div>
    <%- include('foot'); %>
</body>
</html>
